.top-container{
padding: 1px 0 0 0;
  background-color: #eaf6f6;
}

body{
  margin: 0;
  text-align: center;
font-family: 'Bitter', serif;
}

h1{
  margin:150px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;


}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
}
.profile-picture{
border-radius: 100%;
}

.computer{
border-radius: 100%;
}

.top-cloud{
position: absolute;
top: 50px;
right: 400px;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 300px;

}

.skill-row{
  line-height: 2;
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
}

.mountain{
  margin-top: 40px;
}

.computer-img{
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.business-img{
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}

.data-img{
  width: 30%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
  margin: 20px;
}

.starting-paragraph{
  color: #40514E;
}

.home-page{
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.horizontal-line{
  border-style: dotted none none;
  border-color: grey;
  border-width: 10px;
  width: 8%;
}

.bottom-container{
  margin-top: 20px;
  background-color: #66BFBF;
  padding: 20px;
}
.copy-right{
  color: #EAF6F6;
}
.foorter-link{
  margin-bottom: 30px;
}

.Experience{
  margin-top: 30px;
}

.list{
  width: 50%;
  margin:10px auto 100px auto;
  line-height: 2;
  list-style-type: circle;
}

.Experience-img{
  border-radius: 100%;
}

.certificates{
  margin-top: 30px;
}

.myButton {
	box-shadow:inset 0 0 0 2px #11cdd4;
	background:linear-gradient(to bottom, #11cdd4 5%, #0f9196 100%);
	background-color:#11cdd4;
	border-radius:10px;
	border:1px solid #11cdd4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0 1px 0 #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0f9196 5%, #11cdd4 100%);
	background-color:#0f9196;
}
.myButton:active {
	position:relative;
	top:1px;
}
